<% title "About" %>

<div class="content-box">
    <h1>About the project</h1>
    <p>This website focuses exclusively on disciplinary cases involving the Chicago Police Department's officers and its employees where the superintendent is seeking to suspend someone in excess of 30 days up to and including termination of their employment. This website covers cases filed with the Police Board starting in January 1999 and will be updated periodically with the new cases filed and new decisions reached by the Police Board. The overwhelming majority of the cases sent to the Police Board are cases where the superintendent is seeking to terminate the employment of an officer.</p>
    <p>It is important to understand the cases detailed here are a significant minority of the total complaints filed against officers. A typical year sees about 3&ndash;5% of complaints against officers result in a sustained finding of misconduct. A very small percentage of those sustained findings result in discipline that would require the police board to get involved.</p>
    <p>The data used for this website is taken directly from Police Board documents. The documents were obtained through the Illinois Freedom of Information act. All the documents used as the basis of this website are available for download from the individual case pages.</p>
    <p>Comments and concerns can be sent to us through our <a href="/feedback">feedback form</a>.</p>
    
    <hr />
    
    <h2>How the process works</h2>
    <ol id="process">
        <li>
            <div class="step">
                <h3>Step 1</h3>
                <p><strong>Complaint filed</strong></p>
            </div>
            <div class="description">
                <p>A complaint alleging some form of misconduct against a Chicago Police officer is filed with the <a href="http://www.chicagocopa.org">Civilian Office of Police Accountability (COPA)</a>. These complaints can come from either civilians or other members of the Chicago Police Department.</p>
            </div>
        </li>
        <li>
            <div class="step">
                <h3>Step 2</h3>
                <p><strong>Investigation</strong></p>
            </div>
            <div class="description">
                <p>Depending on the type of complaint, the allegation is either investigated by COPA or the <a href="https://portal.chicagopolice.org/portal/page/portal/ClearPath/Internal%20Affairs%20Division">Internal Affairs Division (IAD)</a> of the Chicago Police Department.</p>
            </div>
        </li>
        <li>
            <div class="step">
                <h3>Step 3</h3>
                <p><strong>Recommendation</strong></p>
            </div>
            <div class="description">
                <p>At the conclusion of their investigation, if either IAD or COPA sustain the allegation against the officer, they make a recommendation for discipline.</p>
            </div>
        </li>
        <li>
            <div class="step">
                <h3>Step 4</h3>
                <p><strong>Superintendent review</strong></p>
            </div>
            <div class="description">
                <p>The findings and discipline recommendation go through command channel review within the CPD where Superintendent McCarthy must sign off on his agreement with the recommendation for charges to move forward.</p>
            </div>
        </li>
        <li>
            <div class="step">
                <h3>Step 5</h3>
                <p><strong>Charges filed</strong></p>
            </div>
            <div class="description">
                <p>If the recommended discipline is in excess of a 29-day suspension through termination, the Superintendent must file charges with the Chicago Police Board seeking to confirm the discipline recommendation.</p>
            </div>
        </li>
        <li>
            <div class="step">
                <h3>Step 6</h3>
                <p><strong>Hearing</strong></p>
            </div>
            <div class="description">
                <p>The Chicago Police Board will then hold a hearing, which allows both the officer and the city to bring legal counsel, do discovery, subpoena records and witnesses, present evidence, and cross-examine witnesses. Hearing officers that are qualified lawyers in private practice administer hearings. Chicago Police Board members are not present at the hearings but are provided a DVD and transcripts of the proceedings.</p>
            </div>
        </li>
        <li>
            <div class="step">
                <h3>Step 7</h3>
                <p><strong>Vote</strong></p>
            </div>
            <div class="description">
                <p>Board members then meet once a month on the third Thursday to vote on cases that have completed in the prior month.</p>
            </div>
        </li>
    </ol>
</div>
