<% title "About" %>

<div class="content-box">
  <h1>About the project</h1>
  <p>This website only focuses on the extreme minority of disciplinary cases that usually include the most serious misconduct and thus the most serious discipline. The vast majority of allegations&mdash;over 90%&mdash;against officers are never sustained by IPRA or IAD. Of the remaining cases that are sustained only a very small percentage result in a discipline recommendation that would require charges being filed with the Chicago Police Board.</p>
  <hr />
  <h2 id="process">How the process works</h2>
  <dl>
    <dt>
      <span class="">STEP 1</span>
      <p><strong>Complaint filed</strong></p>
    </dt>
    <dd>
      <p>A complaint alleging some form of misconduct against a Chicago Police officer is filed with the <a href="http://www.iprachicago.org/">Independent Police Review Authority (IPRA)</a>. These complaints can come from either civilians or other members of the Chicago Police Department.</p>
    </dd>
    
    <dt>
      <span class="">STEP 2</span>
      <p><strong>Investigation</strong></p>
    </dt>
    <dd>
      <p>Depending on the type of complaint, the allegation is either investigated by IPRA or the <a href="https://portal.chicagopolice.org/portal/page/portal/ClearPath/Internal%20Affairs%20Division">Internal Affairs Division (IAD)</a> of the Chicago Police Department.</p>
    </dd>
    
    <dt>
      <span class="">STEP 3</span>
      <p><strong>Recommendation</strong></p>
    </dt>
    <dd>
      <p>At the conclusion of their investigation, if either IAD or IPRA sustain the allegation against the officer, they make a recommendation for discipline.</p>
    </dd>
    
    <dt>
      <span class="">STEP 4</span>
      <p><strong>Superintendent review</strong></p>
    </dt>
    <dd>
      <p>The findings and discipline recommendation go through command channel review within the CPD where Superintendent McCarthy must sign off on his agreement with the recommendation for charges to move forward.</p>
    </dd>
    
    <dt>
      <span class="">STEP 5</span>
      <p><strong>Charges filed</strong></p>
    </dt>
    <dd>
      <p>If the recommended discipline is in excess of a 29-day suspension through termination, the Superintendent must file charges with the Chicago Police Board seeking to confirm the discipline recommendation.</p>
    </dd>
    
    <dt>
      <span class="">STEP 6</span>
      <p><strong>Hearing</strong></p>
    </dt>
    <dd>
      <p>The Chicago Police Board will then hold a hearing, which allows both the officer and the city to bring legal counsel, do discovery, subpoena records and witnesses, present evidence, and cross-examine witnesses. Hearing officers that are qualified lawyers in private practice administer hearings. Chicago Police Board members are not present at the hearings but are provided a DVD and transcripts of the proceedings.</p>
    </dd>
    
    <dt>
      <span class="">STEP 7</span>
      <p><strong>Vote</strong></p>
    </dt>
    <dd>
      <p>Board members then meet once a month on the third Thursday to vote on cases that have completed in the prior month.</p>
    </dd>
  </dl>
</div>
