<% title "About" %>

<div class="content-box">
  <h1>About the project</h1>
  <p>This website only focuses on the extreme minority of disciplinary cases that usually include the most serious misconduct and thus the most serious discipline. The vast majority of allegations&mdash;over 90%&mdash;against officers are never sustained by IPRA or IAD. Of the remaining cases that are sustained only a very small percentage result in a discipline recommendation that would require charges being filed with the Chicago Police Board.</p>
  <hr />
  <h2 id="process">How the process works</h2>
</div>
