<ul>
  <% board_members.each do |bm| %>
  <li>
    <%= image_tag "http://dummyimage.com/75x75/000000/fff" %>
    <h3><%= link_to [bm.full_name, bm.board_position].reject(&:blank?).join(', ') , board_path(bm) %></h3>
    <p class="mute"><%= [bm.job_title, bm.organization].reject(&:blank?).join(', ') %></p>
  </li>
  <% end %>
</ul>
