<% title "Board" %>

<div id="main">
  <div class="content">
    <div class="content-box">
      <h1>The Chicago Police Board</h1>
      <p>The Chicago Police Board is an independent civilian body that oversees certain activities of the Chicago Police Department. The nine members of the Board are private citizens appointed by the Mayor with the advice and consent of the City Council.</p>
      <p><%= link_to raw("More about the board's responsibilities &raquo;"), board_responsibilities_path %></p>
    </div>
  </div>
</div>