<% title "Board responsibilities" %>

<div class="content-box">
  <h1>Board responsibilities</h1>
  <p>The Police Board's primary powers and responsibilities include the following:</p>
  <p>The Board <strong>decides disciplinary cases</strong> when the Superintendent of Police files charges to discharge or suspend a police officer for more than thirty days.</p>
  <p>The Board <strong>reviews</strong>, upon the request of police officers, disciplinary suspensions of six through thirty days.</p>
  <p>The Board <strong>decides matters</strong> in which the Chief Administrator of the Independent Police Review Authority and the Superintendent do not concur regarding discipline of a police officer.</p>
  <p>The Board <strong>holds monthly public meetings</strong> that provide an opportunity for all members of the public to present questions and comments to the Board, the Superintendent of Police, and the Chief Administrator of the Independent Police Review Authority.</p>
  <p>When there is a vacancy in the position of Superintendent of Police, the Board <strong>reviews applications</strong>, conducts interviews, and submits to the Mayor a list of three candidates; the Mayor must choose from the list or request another list from the Board.</p>
  <p>The Board <strong>adopts the rules and regulations</strong> governing the Police Department.</p>
  <p><%= link_to raw("See board members and their voting history &raquo;"), board_index_path %></p>
</div>