/*-----------------------------------------------+
 | Site: Chicago Police Board Information Center |
 | Part: Medium styles                           |
 +-----------------------------------------------*/

/* Imports
=====================================================================*/
@import url(/stylesheets/menu.css);


/* Layout
=====================================================================*/



/* Content
=====================================================================*/
/* Board member header */
#board-header { padding-left: 0; }
#board-header .stacked-bar { clear: both; }
#board-header .thumb { float: right; margin: 0 0 10px 10px; width: 30%; }

/* Header */
#logo { max-width: 360px; width: 70%; }

/* Intro */
#intro { padding-top: 30%; }
#intro h1 { font-size: 30px; }
#intro-primary { width: auto; }