<% title "Cases" %>

<div class="content-box">
  <h1>Cases</h1>
</div>

<div class="content-box">
  <h2>Recent cases</h2>

  <ul>
    <%= render partial: "case", collection: @cases, as: :c %>
  </ul>
</div>
