<% title "Case" %>

<div class="content-box">
  <h1><%= @case.defendant.full_name %></h1>
  <p>
    <span>Case #: <strong><%= @case.number %></strong></span>
    <span>Complaint registry #: <strong></strong></span>
</div>

<div class="content-box">
  <h2>Charged with violating # rules on # counts</h2>
</div>

<div class="content-box">
  <h2>Board member vote</h2>
</div>