<% title "New case" %>
<% body_id "extranet-case-detail" %>

<div class="content-box">
	<%= render :partial => "form" %>
</div>

<p><%= link_to "Back to cases", extranet_cases_path %></p>

<%= content_tag 'div', '', id: 'data', data: {isNew: 'true'} %>
<%= javascript_pack_tag "extranet/case" %>