<% title "Edit rule" %>
<% body_id "extranet-board-member-detail" %>


<div class="content-box">
    <%= render :partial => "form" %>
    <%= link_to "Add Term", extranet_board_member_terms_path(@board_member), :method => :post %>
</div>

