<div class="content-box">
    <% title "Board" %>
    
    <h1>Board</h1>
    
    <p><%= link_to "Add board", [:new, :extranet, :board_member], :class => "action" %></p>
    
    <table>
        <thead>
            <tr>
                <th>Name <i class="fa fa-caret-up"></i><i class="fa fa-caret-down"></i></th>
                <th>Last modified <i class="fa fa-caret-up"></i><i class="fa fa-caret-down"></i></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% @board_members.each do |board|  %>
                <tr>
                    <td><%= link_to board.last_name, [:edit, :extranet, board] %></td>
                    <td><%= board.updated_at %></td>
                    <td><%= link_to "X", [:extranet, board], :confirm => 'Are you sure?', :method => :delete, :title => "Delete" %> </td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>