/*-----------------------------------------------+
 | Site: Chicago Police Board Infromation Center |
 | Part: Form styles                             |
 +-----------------------------------------------*/


/* Global
======================================================================*/
input, select, textarea { font-size: 1em; }
textarea { height: 5em; }

/* Specifics
======================================================================*/

/* Board member votes */
.board-member-votes { list-style: none; margin-left: 0; }
.board-member-votes .dissent-detail { display: none; margin: 0.5em 0; width: 100%; }
.board-member-votes > li { display: flex; flex-wrap: wrap; justify-content: space-between; }
.board-member-votes-name { flex: 0 0 auto; width: 30%; }
.board-member-votes-options { flex: 1 1 auto; }

/* Fields */
.form { clear: both; list-style: none; margin-left: 0; overflow: hidden; }
.form-field { float: right; width: 70%; }
.form-field { margin-bottom: 1em; position: relative; }
.form-field p { margin-bottom: 0.25em; }
.form-label { float: left; text-align: right; width: 27%; }
.form-row { clear: both; font-weight: normal; margin: 0; }

    /* Multiple fields on a single line */
    .field-single-line { width: 60%; }
    .field-single-line p { box-sizing: border-box; float: left; margin: 0; padding-right: 10px; }
    .field-single-line .txt { margin: 0; width: 100%; }

        /* Location fields */
        .field-single-line .field-loc-city { width: 50%; }
        .field-single-line .field-loc-state { width: 20%; }
        .field-single-line .field-loc-postal { float: right; padding-right: 0; width: 30%; }

        /* Name fields */
            /* Full name (first/middle/last) */
            .fields-name-full .field-name-first, .fields-name-full .field-name-last { width: 40%; }
            .fields-name-full .field-name-last { float: right; padding-right: 0; }
            .fields-name-full .field-name-middle { width: 20%; }

            /* Long name (first/middle/last/suffix) */
            .fields-name-long .field-name-first, .fields-name-long .field-name-last { width: 30%; }
            .fields-name-long .field-name-middle, .fields-name-long .field-name-suffix { width: 20%; }
            .fields-name-long .field-name-suffix { float: right; padding-right: 0; }

            /* Short name (first/last) */
            .fields-name-short .field-name-first, .fields-name-short .field-name-last { width: 50%; }
            .fields-name-short .field-name-last { float: right; padding-right: 0; }

            /* Date range */
            .fields-date-range .field-range-start, .fields-date-range .field-range-end { width: 45%; }
            .fields-date-range .field-range-to { text-align: center; width: 10%; }
            .fields-date-range .field-range-end { float: right; padding-right: 0; }

        /* Phone */
        .form .field-single-line .field-phone-number { width: 70%; }
        .form .field-single-line .field-phone-ext { padding-right: 0; width: 20%; }
        .form .field-single-line .field-phone-x { padding-top: 0.5em; text-align: center; width: 10%; }

/* Options */
.options-h, .options-v { list-style: none; margin: 0; }
.options-h input, .options-v input { margin: 0 0.5em -0.05em 0; }
.options-h img { border-bottom: 3px solid #fff; padding: 5px; vertical-align: middle; }
.options-h li, .options-v li { background: none; margin-bottom: 0.3em; padding: 0; }
.options-h li { display: inline; margin-right: 0.7em; white-space: nowrap; }
.options-v li { padding-left: 22px; text-indent: -22px; }
.options-v ul { margin: 0.3em 0 1em; }

/* Placeholder */
input::-moz-placeholder, textarea::-moz-placeholder { color: #999; font-style: italic; }
input:-ms-input-placeholder, textarea:-ms-input-placeholder { color: #999; font-style: italic; }
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color: #999; font-style: italic; }

/* Required text */
.req { color: #f00; }

/* Text boxes */
[class *= "txt"] {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: inset 0 1px 1px #ddd;
    margin-right: 0.5em;
    padding: 0.3em;
    vertical-align: middle;
}

.txt { width: 100%; }
.txt-date { width: 7em; }
.txt-med { width: 60%; }
.txt-num { width: 4em; }

/* Search */
.search { background: #fff; border: 1px solid #ccc; border-radius: 4px; box-sizing: border-box; white-space: nowrap; }
.search label { display: none; }
.search * { vertical-align: middle; }
.search button { -webkit-appearance: none; background: none; border: 0; color: #505050; cursor: pointer; font-size: 16px; padding: 0.5em 0; }
.search .txt { border: 0; box-shadow: none; margin: 0; padding: 0.5em; text-indent: 0.6em; width: 100%; }
.search select { line-height: normal; border: none; }

select.classic {width: 42%}
.classic + .txt { width: 58%; }
.classic ~ button { padding: 1.1em 0.4em 0 0 }

#case-search-content {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    height: 100%;
    width: 100%;
}
/* Cases landing */
    #case-search {font-size: 24px; width: 75%; min-width: 465px; }

    /* In navigation */
    #nav .search { position: absolute; right: 0; top: 2em; width: 10em; }

/* Sign in */
#signin { margin: 0 auto; max-width: 330px; }
#signin .action { display: block; text-align: center; width: 100%; }

/* Violated rules */
.violated-rules { list-style: none; margin-left: 0; }
.violated-rules li { border-bottom: 1px solid #ddd; margin-bottom: 1em; padding-bottom: 0.5em; }
.violated-rules p { margin-bottom: 0.5em; }

@media screen and (max-width: 600px) {
    #case-search {
        width: 100%;
        min-width: 0;
    }
}
