/*-----------------------------------------------+
 | Site: Chicago Police Board Infromation Center |
 | Part: Master styles                           |
 +-----------------------------------------------*/

/* Imports
=====================================================================*/
@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,400italic,600,600italic,700,700italic);

/* Fonts
======================================================================*/
body, input, select, textarea { font-family: "Source Sans Pro", Arial, sans-serif; }


/* Basics
======================================================================*/
a { color: #0072ad; text-decoration: none; }
a:hover { text-decoration: underline; }
body { background: #f8f8f1; font-size: 18px; line-height: 1.33; padding-bottom: 30px; }
cite, em { font-style: italic; }
dl, ol, p, table, ul { margin-bottom: 1em; }
h1 { color: #a00f12; font-size: 32px; font-weight: 600; line-height: 1.03; margin-bottom: 0.56em; }
h2 { color: #0a3557; font-size: 24px; line-height: 1em; margin-bottom: 0.25em; }
h2, h3, h4, h5, h6, strong, thead th { font-weight: bold; }
h3 { font-size: 20px; }
img { max-width: 100%; }
li { margin-bottom: 0.5em; }
ol { list-style: decimal; margin-left: 2em; }
table { border-collapse: collapse; width: 100%; }
table p { margin: 0; }
td, th { border: 1px solid #ddd; border-width: 1px 0; padding: 0.5em 1em 0.5em 0; vertical-align: top; }
thead th { border-top: 0; vertical-align: middle; }
td[align="center"], th[align="center"] { text-align: center; }
td[align="right"], th[align="right"] { text-align: right; }
ul { list-style: disc; margin-left: 1.5em; }

.c { text-align: center; }
.l { float: left; }
.r { float: right; }


/* Core layout
======================================================================*/
.clear { clear: both; }
.content { box-sizing: border-box; margin: 0 auto; max-width: 1140px; padding: 0 20px; }
.content-box { background: #fff; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); margin-bottom: 20px; padding: 40px; }


/* Content
======================================================================*/

/* Action buttons */
.action {
    appearance: none;
    -webkit-appearance: none;
    background: #0072ad;
    border: 0;
    border-radius: 4px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 22px;
    font-weight: 300;
    margin-right: 1em;
    padding: 0.5em 1.5em;
    vertical-align: middle;
}

.action:hover { opacity: 0.7; text-decoration: none; }

/* Charts */
    /* Simple bar */
    .bar-chart td { vertical-align: middle; }
    .bar-chart .value { background: #0072ad; height: 2em; min-width: 1px; }
    
    /* Stacked bar */
    .stacked-bar { height: 2em; }
    .stacked-bar .value { border-right: 2px solid #fff; box-sizing: border-box; float: left; height: 100%; }
    
        /* Colors */
        .stacked-bar .agree { background: #0072ad; }
        .stacked-bar .disagree { background: #0a3557; }
        .stacked-bar .novote { background: #ccc; }

/* DataTables */
.dataTables_wrapper { clear: both; }
.dataTables_wrapper .dataTables_filter { margin-bottom: 10px; }
.dataTables_wrapper .dataTables_filter .txt { margin: 0; width: 10em; }
.dataTables_wrapper .dataTables_info { float: right; }
.dataTables_wrapper .dataTables_length { float: right; }
.dataTables_wrapper .dataTables_length select { margin-left: 0.5em; }
.dataTables_wrapper .dataTables_paginate a { cursor: pointer; margin-right: 1em; }
.dataTables_wrapper .dataTables_paginate a.paginate_active { color: #000; cursor: default; font-weight: bold; }
.dataTables_wrapper .dataTables_paginate a.paginate_button_disabled { color: #666; cursor: default; }
.dataTables_wrapper .sorting, .dataTables_wrapper .sorting_asc, .dataTables_wrapper .sorting_desc { color: #0c61af; cursor: pointer; }
.dataTables_wrapper table { clear: both; }
.dataTables_wrapper th.sorting .fa-caret-down, .dataTables_wrapper th.sorting .fa-caret-up { display: none; }
.dataTables_wrapper th.sorting_asc .fa-caret-down { display: none; }
.dataTables_wrapper th.sorting_desc .fa-caret-up { display: none; }

/* Footer */
#footer { font-size: 14px; }
#footer h6 { color: #0a3557; font-size: 24px; font-weight: 600; }
#footer #site-credit { float: right; text-align: right; }

/* Header */
#header { padding: 35px 0; }

    /* Logo */
    #logo { float: left; width: 34%; }
    #logo-reverse { display: none; }
    
    /* Navigation */
    #nav { float: right; font-size: 19px; font-weight: 300; padding-top: 10px; position: relative; text-align: right; width: 58%; }
    #nav .current a { color: #000; font-weight: 600; }
    #nav li { display: inline; margin-left: 1em; }
    #nav ul { list-style: none; margin: 0; }

/* Home */
#home #header { left: 0; position: absolute; top: 0; width: 100%; }
#home #logo-full { display: none; }
#home #logo-reverse { display: block; }
#home #nav a { color: #fff; }

/* Icons */
.fa-ban { color: #ccc; }
.fa-check-circle { color: #0072ad; }
.fa-times-circle { color: #0a3557; }

/* Intro */
#intro { background: #0c3557 url(/intro-bg.jpg) 50% 50% no-repeat; background-size: cover; margin-bottom: 40px; padding: 200px 0 6%; }
#intro h1 { font-size: 50px; font-weight: bold; margin-bottom: 0.3em; }
#intro, #intro a, #intro h1, #intro h2 { color: #fff; }
#intro p { margin-bottom: 1.5em; }
#intro-primary { width: 69%; }

/* Muted text */
.mute { color: #999; font-weight: normal; }

/* Tables */
.nb { white-space: nowrap; }

/* Voting history */
.voting-history td { vertical-align: middle; }
.voting-history .percent { font-size: 32px; }

    /* Colors */
    .agree { color: #0072ad; }
    .disagree { color: #0a3557; }
    .novote { color: #ccc; }