<% title "Rules of conduct" %>

<div class="content-box">
  <h1>Rules of conduct</h1>
  <p>From the <a href="http://www.cityofchicago.org/dam/city/depts/cpb/PoliceDiscipline/RulesofConduct.pdf">Rules and Regulations of the Chicago Police Department</a> adopted and published by the Police Board.</p>
</div>