<!-- Intro -->
<div id="intro">
  <div class="content">
    <div id="intro-primary">
      <h1>The most comprehensive archive of misconduct allegations against the Chicago Police Department</h1>
      <p>Archiving the most serious allegations of misconduct brought against the Chicago Police Department and its employees as handled by the Chicago Police Board.</p>
      <p><%= link_to 'Browse cases', cases_path, class: "action" %> <%= link_to raw("How the process works &raquo;"), about_path + "#process" %></p>
    </div>
  </div>
</div>
<!-- /Intro -->